// Problem Link: <Problem Link>
// <Problem Name>
// <Algorithm>

#include <bits/stdc++.h>
using namespace std;
#define ll long long
#define mp make_pair
#define pb push_back
#define P1 1000003
#define P2 1000007
#define M 1000000007
const int N = 1000001;

int main(){
   string s;
   cin>>s;
   return 0;
}
